header {
	text-align: center;
	color: white;
}
#form-div {
	display: flex;
	justify-content: center;
	align-items: center;
}
div {
	margin: 5px;
}
form {
	border-radius: 10px;
	display: block;
	width: 500px;
	text-align: left;
	background-color: rgba(128, 0, 128, 0.3);
	color: white;
	padding: 2%;
}
#number {
	width: 150px;
}
p {
	font-size: 20px;
}
label {
	font-size: 20px;
}
body {
	background-color: rgba(128, 0, 128, 0.3);
}
